
ion-content.background{
    --background: url(C:\Users\sebastian\Desktop\Sos\src\assets\patitas.jpg) 0 0/100% 100% no-repeat;
  }
  .center {
    display: block;
    margin: auto;
    width: 20%;
   }
  
  ion-card.background{
    --background: url(C:\Users\sebastian\Desktop\Sos\src\assets\patitas.jpg) 0 0/100% 100% no-repeat;
  }