<ion-header>
  <ion-toolbar color="primary" >
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()" color="dark">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    
    <ion-buttons slot="end">
      <ion-avatar>
      <img src="/assets/chococat.png" >
      </ion-avatar>
    </ion-buttons>
    <ion-title color="dark">Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" class="background">
  <ion-card class="background">
    <ion-card-header>

      <ion-card-subtitle class="titulo">S.O.S MASCOTAS</ion-card-subtitle>
      
    </ion-card-header>

    <ion-card-content class="ion-paddinng contenido">
      La compasión hacia los animales está tan estrechamente ligada a la bondad de carácter que se puede afirmar con seguridad que quien es cruel con los animales no puede ser una buena persona. – Arthur Schopenhauer
    </ion-card-content>
    
    <ion-card-content>
      <a href="http://www.google.cl" target="_blank">
      <ion-img src="assets\portada-gato-consuela-perro.jpg"></ion-img>
      </a>
    </ion-card-content>
    
    <ion-card-content class="ion-padding contenido">
      Esta aplicacion esta destinada para cada una de las personas que en su dia a dia rescatan animales en condicion de abandono,o en estado de deterioro por la irresponsabilidad de sus dueños.
    </ion-card-content>
    
  </ion-card>
 

</ion-content>